---
layout: default
title: Today
---

{% assign latest_post = site.posts.first %}

{% if latest_post %}
  <!-- IL NOTIZIARIO DI OGGI -->
  <article class="latest-news">
    <div class="post-meta">{{ latest_post.date | date: "%d %B %Y" }}</div>
    
    
    <div class="post-content" style="margin-top: 2rem;">
      {{ latest_post.content }}
    </div>
  </article>
{% else %}
  <p>nothing to see here.</p>
{% endif %}

<hr class="archive-separator">

<!-- ARCHIVIO STORICO -->
<section class="archive-section">
  <h2 class="archive-title">Historical Archive</h2>
  <ul class="archive-list">
    {% for post in site.posts %}
      <!-- Saltiamo il primo post perché è già mostrato per intero sopra -->
      {% if forloop.first %}{% continue %}{% endif %}

      <li class="archive-item">
        <a class="archive-link" href="{{ post.url | relative_url }}">{{ post.date | date: "%d %B %Y" }}</a>
      </li>
    
    {% endfor %}
  </ul>
</section>
